@import url(https://fonts.googleapis.com/css?family=Abel);

/* general settings */

body {
  font-family: "Abel";
}

li {
  list-style: none;
  font-size: 1.25em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #a5e0e0;
}

form {
  background-color: #8da6a6;
  padding-left: 20%;
  padding-top: 5%;
  font-size: 2em;
}

/* animations */

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#dropdown {
  margin: 0.75em 0 0 4em;
  width: 6em;
  height: 5em;
  position: fixed;
}

#logo {
  width: 2.5em;
  position: fixed;
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  background-color: #5b6464;
}

#logo:hover {
  cursor: pointer;
  animation: spin 0.75s 0s 1 linear;
}
