@import url(https://fonts.googleapis.com/css?family=Abel);

/* general settings */

body {
  font-family: "Abel";
}

li {
  list-style: none;
  font-size: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px dotted #8da6a6;
}

a:hover {
  color: #a5e0e0;
}

h1 {
  text-align: center;
  border-top: 0.2em solid #5b6464;
  border-bottom: 0.2em solid #5b6464;
}

/* animations */

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes highlight {
  100% {background-color: #8da6a6;}
}

#dropdown {
  margin: 0.75em 0 0 4em;
  width: 6em;
  height: 5em;
  position: fixed;
}

#logo {
  width: 2.5em;
  position: fixed;
  margin: 1em;
  padding: 1em;
  border-radius: 50%;
  background-color: #5b6464;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  box-shadow: 0.1em 0.1em 0.5em #888888;
}

.project {
  font-family: Abel;
  font-size: 2em;
  font-weight: bold;
  padding: 0.5em;
  width: 50%;
  border: 0.15em solid #4c4d4d;
  margin: 0 0 1em 25%;
}

.project:hover {
  box-shadow: 0.1em 0.1em 0.5em #888888;
  animation: highlight 0.5s 0s 1 forwards;
  cursor: pointer;
}

.window {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  overflow-y: scroll;
}

.close {
  width: 3em;
  height: 3em;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.content {
  margin: 10% 15% 10% 15%;
  width: 70%;
  font-size: 1.25em;
}

.slideshow {
  margin-left: 25%;
  padding: 1em;
  position: relative;
  width: 50%;
  height: 50%;
  border: 2px solid #8da6a6;
  box-shadow: 0.1em 0.1em 0.5em #4c4d4d;
}

.slideshow img {
  width: 100%;
  height: 100%;
}
